@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
}

.bg-footer {
  background-image: url("/footer-bg-color.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90% auto;
}